QBS 101
Assignment 4

Dartmouth ID: F004QM4

Date: October 9th, 2020

# Question 1. Multiple Variable Assignment (4 points total)

## 1a. (3 Points)

Recreate the string: "I am learning multiple variable assignment." 

Using the multiple variable assignment command, assign *non-null* string values to the variables: `string1`, `string2`, `string3`. 

The string assignments can be done in any way such that, usin the variables, the output reads: "I am learning multiple variable assignment." 

Print your output.

In [1]:
## SOLUTION GOES HERE
string1,string2,string3 = "I am learning ","multiple variable ","assignment."
print(string1+string2+string3)

*****

## 1b. (1 Point)

Convert your variables (`string1`, `string2`, `string3`) to type 'None', and write a print statement to show `None` is a class.

In [2]:
## SOLUTION GOES HERE
string1,string2,string3 = None, None, None
print(type(string3))
print(type(string2))
print(type(string1))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

*****

# Question 2. Dictionaries (10 point total)

## 2a. (5 Points)

Create a dictionary named `courses` that lists two courses you are taking in the QBS program where the key for each class is the class name, and the value for each class is the professor of that class.

Then, print the instructor's name of the second course listed in your dictionary.

In [3]:
## SOLUTION GOES HERE
courses = {
    "Foundations of Biostatistics I" : "Dr. Frost",
    "Foundations of Epidemiology I" : "Dr. Gilbert-Diamond"
}
print(courses['Foundations of Epidemiology I'])

Dr. Gilbert-Diamond

## 2b. (5 Points)

Create a new dictionary `course_three` that lists a third QBS course you are taking in the same format as part 2a.

* If you are not enrolled in three courses in the QBS program, feel free to make up a course/instructor name, or use one from prrevious schooling.

Next, update the `courses` dictionary with the  course_three   dictionary.

Print out the updated `courses` dictionary.

In [4]:
## SOLUTION GOES HERE
course_three = {
    "Foundations of Biostatistics I" : "Dr. Frost",
    "Foundations of Epidemiology I" : "Dr. Gilbert-Diamond",
    "Fndn of Programming-Data Sci" : "Dr. Darabos"
}

courses.update(course_three) #updating old dict with new dict
print(courses)

{'Foundations of Biostatistics I': 'Dr. Frost', 'Foundations of Epidemiology I': 'Dr. Gilbert-Diamond', 'Fndn of Programming-Data Sci': 'Dr. Darabos'}

## Bonus (2 Points)

Delete the last class listed from your updated `courses` dictionary.

Print the updated `courses` dictionary.

In [5]:
## SOLUTION GOES HERE
courses.popitem() #removing last element put into dict
print(courses)

{'Foundations of Biostatistics I': 'Dr. Frost', 'Foundations of Epidemiology I': 'Dr. Gilbert-Diamond'}

*****

# Question 3. Sets (6 points total)

## 3. (6 Points)

Create 4 sets in one line of code. Have each set consist of three random, separate letters. `example: (f,v,l)`

In [6]:
'''
# was trying to make a unique random set

import random
import string
#creating function that produces 3 unique characters from alphabet
def generate(unique):
    #chars = "abcdefghijklmnopqrstuvwxyz"
    chars = string.ascii_lowercase 
    #chars = [r'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
    while True:
        value = "".join(random.choice(chars) for _ in range(3))
        if value not in unique:
            unique.add(value)
            break

set1,set2,set3,set4 = set(),set(),set(),set() 
generate(set1),generate(set2),generate(set3),generate(set4)
print(set1)
print(set2)
print(set3)
print(set4)
--------------------------------------------------------------
OUTPUT:
{'zle'}
{'bkk'}
{'vns'}
{'doz'}

{'zle'}
{'bkk'}
{'vns'}
{'doz'}

In [7]:
# simple as this. George from office hours said this is okay even though it isnt unique random
set1,set2,set3,set4 = {'u','j','o'}, {'k','y','g'}, {'o','j','u'}, {'d','j','a'}
print(set1)
print(set2)
print(set3)
print(set4)
type(set1) #sanity check to make sure we are in sets

{'u', 'o', 'j'}
{'y', 'k', 'g'}
{'u', 'o', 'j'}
{'d', 'a', 'j'}

set

Combine the first two sets and last two sets and assign these sets to new variables.

In [8]:
## SOLUTION GOES HERE
new_set1 = set1.union(set2) #add distinct values in sets together
new_set2 = set3.union(set4)
print(new_set1)
print(new_set2)
type(new_set1) #sanity check

{'y', 'g', 'u', 'k', 'o', 'j'}
{'d', 'a', 'u', 'o', 'j'}

set

Check the intersection of these new sets with a print statement.

In [9]:
## SOLUTION GOES HERE
print(new_set1.intersection(new_set2))

{'u', 'o', 'j'}

Next, swap the letters that were assigned to set 1 with the letters that were assigned to set 4 (and vice versa) without a temporary variable.

In [10]:
## SOLUTION GOES HERE
print(set1)
print(set4)
set1,set4 = set4,set1
print("After Switch")
print(set1)
print(set4)

{'u', 'o', 'j'}
{'d', 'a', 'j'}
After Switch
{'d', 'a', 'j'}
{'u', 'o', 'j'}

Now, combine the updated first set with the second set, and combine the third set with the updated fourth set assigning both groups to new variables.

In [11]:
## SOLUTION GOES HERE
updated_set1 = set1.union(set2)
updated_set2 = set3.union(set4)
print(updated_set1)
print(updated_set2) #only has 3 characters due to union operation

{'y', 'd', 'g', 'a', 'k', 'j'}
{'u', 'o', 'j'}

Lastly, write two print statements. The first to check the new intersection of these sets with a print statement. The second to show the letters that only exist in the intersection of the the updated variables.

In [12]:
## SOLUTION GOES HERE
# to check for intersection
def contains(set1, set2):

    set1 = updated_set1
    set2 = updated_set2

    for i in set1:
        if i in set2:
            return True

    return False

print(contains(updated_set1,updated_set2))  #first print statement to check for intersection
print(updated_set1.intersection(updated_set2)) #second to print the intersection

True
{'j'}

*****

# What to turn in:
- This Python notebook with solutions to the above questions. Be sure to double-check your work such that print statements are included and executed where appropriate.