QBS 101
Assignment 4

Dartmouth ID: F004QM4

Date: October 9th, 2020

# Question 1. Multiple Variable Assignment (4 points total)

## 1a. (3 Points)

Recreate the string: "I am learning multiple variable assignment." 

Using the multiple variable assignment command, assign *non-null* string values to the variables: `string1`, `string2`, `string3`. 

The string assignments can be done in any way such that, usin the variables, the output reads: "I am learning multiple variable assignment." 

Print your output.

In [2]:
## SOLUTION GOES HERE
string1,string2,string3 = "I am learning ","multiple variable ","assignment."
print(string1+string2+string3)

I am learning multiple variable assignment.

*****

## 1b. (1 Point)

Convert your variables (`string1`, `string2`, `string3`) to type 'None', and write a print statement to show `None` is a class.

In [11]:
## SOLUTION GOES HERE
string1,string2,string3 = None, None, None
print(type(string3))
print(type(string2))
print(type(string1))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

*****

# Question 2. Dictionaries (10 point total)

## 2a. (5 Points)

Create a dictionary named `courses` that lists two courses you are taking in the QBS program where the key for each class is the class name, and the value for each class is the professor of that class.

Then, print the instructor's name of the second course listed in your dictionary.

In [3]:
## SOLUTION GOES HERE

## 2b. (5 Points)

Create a new dictionary `course_three` that lists a third QBS course you are taking in the same format as part 2a.

* If you are not enrolled in three courses in the QBS program, feel free to make up a course/instructor name, or use one from prrevious schooling.

Next, update the `courses` dictionary with the  course_three   dictionary.

Print out the updated `courses` dictionary.

In [4]:
## SOLUTION GOES HERE

## Bonus (2 Points)

Delete the last class listed from your updated `courses` dictionary.

Print the updated `courses` dictionary.

In [5]:
## SOLUTION GOES HERE

*****

# Question 3. Sets (6 points total)

## 3. (6 Points)

Create 4 sets in one line of code. Have each set consist of three random, separate letters. `example: (f,v,l)`

In [6]:
## SOLUTION GOES HERE

Combine the first two sets and last two sets and assign these sets to new variables.

In [7]:
## SOLUTION GOES HERE

Check the intersection of these new sets with a print statement.

In [8]:
## SOLUTION GOES HERE

Next, swap the letters that were assigned to set 1 with the letters that were assigned to set 4 (and vice versa) without a temporary variable.

In [9]:
## SOLUTION GOES HERE

Now, combine the updated first set with the second set, and combine the third set with the updated fourth set assigning both groups to new variables.

In [10]:
## SOLUTION GOES HERE

Lastly, write two print statements. The first to check the new intersection of these sets with a print statement. The second to show the letters that only exist in the intersection of the the updated variables.

In [11]:
## SOLUTION GOES HERE

*****

# What to turn in:
- This Python notebook with solutions to the above questions. Be sure to double-check your work such that print statements are included and executed where appropriate.