# Q1: Load in the first fit bit dataset. Describe each column below

In [1]:
df = read.csv("intraday_fitbit.csv")

In [2]:
head(df)

  Time     steps calories floors distance heart
1 00:00:00 0     1.16640  0      0        64
2 00:01:00 0     1.16640  0      0        65
3 00:02:00 0     1.39968  0      0        70
4 00:03:00 0     1.16640  0      0        66
5 00:04:00 0     1.16640  0      0        65
6 00:05:00 0     1.16640  0      0        62

In [3]:
summary(df)

       Time         steps            calories          floors
 00:00:00:  1   Min.   :  0.000   Min.   : 1.166   Min.   :0.00000
 00:01:00:  1   1st Qu.:  0.000   1st Qu.: 1.166   1st Qu.:0.00000
 00:02:00:  1   Median :  0.000   Median : 1.166   Median :0.00000
 00:03:00:  1   Mean   :  4.415   Mean   : 1.622   Mean   :0.00591
 00:04:00:  1   3rd Qu.:  0.000   3rd Qu.: 1.400   3rd Qu.:0.00000
 00:05:00:  1   Max.   :131.000   Max.   :10.264   Max.   :2.00000
 (Other) :840
    distance            heart
 Min.   :0.000000   Min.   : 44.00
 1st Qu.:0.000000   1st Qu.: 53.00
 Median :0.000000   Median : 59.00
 Mean   :0.003655   Mean   : 62.11
 3rd Qu.:0.000000   3rd Qu.: 68.75
 Max.   :0.151000   Max.   :129.00

In [4]:
tail(df)

    Time     steps calories floors distance heart
841 14:03:00 17    4.43232  0      0.012    90
842 14:04:00 34    4.19904  0      0.024    79
843 14:05:00 27    4.19904  0      0.019    81
844 14:06:00  0    1.51632  0      0.000    83
845 14:07:00  0    1.51632  0      0.000    83
846 14:08:00  0    1.16640  0      0.000    76

## A1:
<font color='Red'> 
The time column is type <fct> and increments by one minute.

The steps column is a discrete variable and is type <int>. Records number of steps taken in that one minute time frame.

The calories column is a continuous variable and is type <dbl>. Records the amount of calories burnt in the one minute time frame.

The floors column is a discrete variable and is type <int>. Records number of floors climbed in that one minute time frame.

The distance column is a continuous variable and is type <dbl>. Records the miles traveled in the one minute time frame.

Lastly, the heart column is a discrete variable and is type <int>. This records the BPM average for each one minute time frame.

</font>

# Q2: Find the mean, median, and standard deviation of the steps taken. Report below.

In [5]:
mean(df$steps)

[1] 4.414894

In [6]:
median(df$steps)

[1] 0

In [7]:
sd(df$steps)

[1] 18.97421

# A2: 
<font color='Red'> 
### (Mean: 4.41489361702128, Median: 0, STD: 18.9742077300411) 
</font>

# Q3: Find the sum of calories burned throughout the day. Report it below.

In [8]:
sum(df$calories)

[1] 1372.503

# A2: 
<font color='Red'> 
### (Sum: 3735) 
</font>

# Q4: Create a function that calculates and returns the mean, median, and sd of steps and total calorie burn (hint: use sum). Paste it below.

In [9]:
describe <- function(df){
    
    mean <- mean(df[["steps"]])
    median <- median(df[["steps"]])
    std <- sd(df[["steps"]])
    total_cal <- sum(df[["calories"]])
    
    print(paste("Mean steps:",mean))
    print(paste("Median steps:",median))
    print(paste("STD for steps",std))
    print(paste("Total calories Burnt",total_cal))
}

In [10]:
#Answer Below
describe(df)

[1] "Mean steps: 4.41489361702128"
[1] "Median steps: 0"
[1] "STD for steps 18.9742077300411"
[1] "Total calories Burnt 1372.502859448"

# Q5: Loop through the files and use your function to calculate the above quantities for each file. Write these quantities to a table, export it from R, and submit to canvas.

### Having trouble with this one

In [11]:
install.packages("tidyverse", repos='http://cran.us.r-project.org')

Installing package into ‘/Users/valazeinali/Library/R/3.6/library’
(as ‘lib’ is unspecified)

The downloaded binary packages are in
	/var/folders/bx/dp3pc2gx453dz73c35_y9_8h0000gn/T//RtmpShVoJl/downloaded_packages

In [12]:
# trying to use map reduce ugh... so close
library(tidyverse)

suppressWarnings({ 
files <- list.files(pattern = "*.csv")

df <- files %>% 
    map(function(x) {
        read.csv(paste0(x))
        print(files)
    }) %>%   
    reduce(rbind)
    
    #for (i in df) {describe(df[i])}
 })

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.0     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   0.8.5
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘tibble’ was built under R version 3.6.2”
Warning message:
“package ‘tidyr’ was built under R version 3.6.2”
Warning message:
“package ‘purrr’ was built under R version 3.6.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

[1] "intraday_fitbit.csv"  "intraday_fitbit2.csv" "intraday_fitbit3.csv"
[4] "intraday_fitbit4.csv" "intraday_fitbit5.csv" "intraday_fitbit6.csv"
[1] "intraday_fitbit.csv"  "intraday_fitbit2.csv" "intraday_fitbit3.csv"
[4] "intraday_fitbit4.csv" "intraday_fitbit5.csv" "intraday_fitbit6.csv"
[1] "intraday_fitbit.csv"  "intraday_fitbit2.csv" "intraday_fitbit3.csv"
[4] "intraday_fitbit4.csv" "intraday_fitbit5.csv" "intraday_fitbit6.csv"
[1] "intraday_fitbit.csv"  "intraday_fitbit2.csv" "intraday_fitbit3.csv"
[4] "intraday_fitbit4.csv" "intraday_fitbit5.csv" "intraday_fitbit6.csv"
[1] "intraday_fitbit.csv"  "intraday_fitbit2.csv" "intraday_fitbit3.csv"
[4] "intraday_fitbit4.csv" "intraday_fitbit5.csv" "intraday_fitbit6.csv"
[1] "intraday_fitbit.csv"  "intraday_fitbit2.csv" "intraday_fitbit3.csv"
[4] "intraday_fitbit4.csv" "intraday_fitbit5.csv" "intraday_fitbit6.csv"

In [13]:
files <- list.files(pattern ="*csv")

for(f in files){
    print(f)
    describe(f)
}

[1] "intraday_fitbit.csv"

ERROR: Error in df[["steps"]]: subscript out of bounds

In [15]:
df2 = read.csv("intraday_fitbit2.csv")
describe(df2)

[1] "Mean steps: 8.96506550218341"
[1] "Median steps: 0"
[1] "STD for steps 24.5422994299063"
[1] "Total calories Burnt 1842.445419661"

In [16]:
df3 = read.csv("intraday_fitbit3.csv")
describe(df3)

[1] "Mean steps: 6.40914036996736"
[1] "Median steps: 0"
[1] "STD for steps 22.4365035591947"
[1] "Total calories Burnt 1653.613483651"

In [17]:
df4 = read.csv("intraday_fitbit4.csv")
describe(df4)

[1] "Mean steps: 7.73157051282051"
[1] "Median steps: 0"
[1] "STD for steps 24.2446941280253"
[1] "Total calories Burnt 2360.473478206"

In [18]:
df5 = read.csv("intraday_fitbit5.csv")
describe(df5)

[1] "Mean steps: 4.59656218402427"
[1] "Median steps: 0"
[1] "STD for steps 18.7288349724301"
[1] "Total calories Burnt 1612.502066773"

In [19]:
df6= read.csv("intraday_fitbit6.csv")
describe(df6)

[1] "Mean steps: 3.77313054499366"
[1] "Median steps: 0"
[1] "STD for steps 15.8825156224351"
[1] "Total calories Burnt 1215.059983502"