# Q1: Load in the first fit bit dataset. Describe each column below

In [1]:
df = read.csv("intraday_fitbit.csv")

In [2]:
head(df)

  Time     steps calories floors distance heart
1 00:00:00 0     1.16640  0      0        64
2 00:01:00 0     1.16640  0      0        65
3 00:02:00 0     1.39968  0      0        70
4 00:03:00 0     1.16640  0      0        66
5 00:04:00 0     1.16640  0      0        65
6 00:05:00 0     1.16640  0      0        62

In [3]:
summary(df)

       Time         steps            calories          floors
 00:00:00:  1   Min.   :  0.000   Min.   : 1.166   Min.   :0.00000
 00:01:00:  1   1st Qu.:  0.000   1st Qu.: 1.166   1st Qu.:0.00000
 00:02:00:  1   Median :  0.000   Median : 1.166   Median :0.00000
 00:03:00:  1   Mean   :  4.415   Mean   : 1.622   Mean   :0.00591
 00:04:00:  1   3rd Qu.:  0.000   3rd Qu.: 1.400   3rd Qu.:0.00000
 00:05:00:  1   Max.   :131.000   Max.   :10.264   Max.   :2.00000
 (Other) :840
    distance            heart
 Min.   :0.000000   Min.   : 44.00
 1st Qu.:0.000000   1st Qu.: 53.00
 Median :0.000000   Median : 59.00
 Mean   :0.003655   Mean   : 62.11
 3rd Qu.:0.000000   3rd Qu.: 68.75
 Max.   :0.151000   Max.   :129.00

In [4]:
tail(df)

    Time     steps calories floors distance heart
841 14:03:00 17    4.43232  0      0.012    90
842 14:04:00 34    4.19904  0      0.024    79
843 14:05:00 27    4.19904  0      0.019    81
844 14:06:00  0    1.51632  0      0.000    83
845 14:07:00  0    1.51632  0      0.000    83
846 14:08:00  0    1.16640  0      0.000    76

## A1:
<font color='Red'> 
The time column is type <fct> and increments by one minute.

The steps column is a discrete variable and is type <int>. Records number of steps taken in that one minute time frame.

The calories column is a continuous variable and is type <dbl>. Records the amount of calories burnt in the one minute time frame.

The floors column is a discrete variable and is type <int>. Records number of floors climbed in that one minute time frame.

The distance column is a continuous variable and is type <dbl>. Records the miles traveled in the one minute time frame.

Lastly, the heart column is a discrete variable and is type <int>. This records the BPM average for each one minute time frame.

</font>

# Q2: Find the mean, median, and standard deviation of the steps taken. Report below.

In [5]:
mean(df$steps)

[1] 4.414894

In [7]:
median(df$steps)

[1] 0

In [8]:
sd(df$steps)

[1] 18.97421

# A2: 
<font color='Red'> 
### (Mean: 4.41489361702128, Median: 0, STD: 18.9742077300411) 
</font>